<%= form_with(model: employee, local: true) do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation" class="alert alert-warning">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= form.label :name, class: 'col-sm-2 col-form-label'%>
    <%= form.text_field :name, class: 'col-sm-6' %>
  </div>

  <div class="form-group row">
    <%= form.label :address, class: 'col-sm-2 col-form-label' %>
    <%= form.text_area :address, class: 'col-sm-6' %>
  </div>

  <div class="form-group row">
    <%= form.label :email, class: 'col-sm-2 col-form-label' %>
    <%= form.text_field :email, class: 'col-sm-6' %>
  </div>

  <div class="form-group row">
    <%= form.label :dob, class: 'col-sm-2 col-form-label' %>
    <%= form.text_field :dob, class: 'datepicker col-sm-6' %>
  </div>

  <div class="form-group row">
    <%= form.label :phone, class: 'col-sm-2 col-form-label' %>
    <%= form.text_field :phone, class: 'col-sm-6' %>
  </div>

  <div class="form-group row">
    <%= form.label :profile_photo, class: 'col-sm-2 col-form-label' %>
    <%= form.file_field :avatar, class: 'col-sm-6' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
  <br>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker({
      format: "yyyy/mm/dd",
      autoclose: true,
      endDate: '+0d',
      todayBtn: "linked",
      todayHighlight: true
    });
  });
</script>
