<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Employees</h1>

  <div class="form-group">
    <h6>Search by name:</h2>
    <%= form_tag employees_path, method: 'get' do %>
      <p>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", name: nil, class: 'btn btn-primary' %>
      </p>
    <% end %>
  </div>

  <table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Email</th>
        <th>Dob</th>
        <th>Phone</th>
        <th>Image</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @employees.each do |employee| %>
        <tr>
          <td><%= employee.name %></td>
          <td><%= employee.address %></td>
          <td><%= employee.email %></td>
          <td><%= employee.dob %></td>
          <td><%= employee.phone %></td>
          <td><%= image_tag employee.avatar, class: 'img-fluid img-thumbnail'%></td>
          <td><%= link_to 'Show', employee, class: 'btn btn-primary' %></td>
          <td><%= link_to 'Edit', edit_employee_path(employee), class: 'btn btn-primary' %></td>
          <td><%= link_to 'Destroy', employee,class: 'btn btn-primary', method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @employees, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  <br>

  <%= link_to 'New Employee', new_employee_path, class: 'btn btn-primary' %>
</div>